/.vscode/
/.idea/
/Binaries/
/DerivedDataCache/
/Intermediate/
/Content/__ExternalActors__/
/Content/__ExternalObjects__/
/Content/Developers
/Content/Collections/
/Saved/
/Plugins/
PROMPT.md
.ignore
ClimbingSystem.uproject.DotSettings.user
ClimbingSystem.code-workspace
Makefile
.codex

